html {
    padding: 50px;
}

.dropdown,
#preview-box{
    display: inline-block;
    vertical-align: top;
}

.dropdown {
    width: 30%;
}

.dropdown-item:hover {
    background-color: #cecece;
}

#preview-box {
    padding-left: 20px;
    border-left: 1px solid #cecece;
    width: 69%;
}

#preview-header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cecece;
}

#preview img{
    width: 300px;
}